TaxiPathBar GtkButton.path-button {
    background: none;
    border-radius: 0;
    border-width: 0;
    border-image: none;
}
TaxiPathBar.button {
    border-width: 0px;
    border-bottom-width: 1px;
    border-image: none;
}
GtkHeaderBar GtkComboBox {
    padding-left: 6px;
}
