.path-button {
    background: none;
    border-radius: 0;
    border-width: 0;
}
@define-color colorPrimary @ORANGE_500;

.button {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding: 0 6px;
}

.headerbar-separator {
    margin-left: 3px;
    margin-right: 3px;
}