.path-button {
    background: none;
    border-radius: 0;
    border-width: 0;
    padding: 6px;
}

button.pathbar {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding: 0 6px;
}
