[Desktop Entry]
Type=Application
Name=Taxi
Comment=Transfer local and remotes files
GenericName=FTP Client
Exec=taxi
Icon=taxi
Keywords=ftp;sftp;dav;afp;transfer;
Terminal=false
Categories=Network;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Name=About Taxi
Exec=taxi --about
